doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1.title h1 title
    p This is a line with #[em some emphasis] and #[strong strong text] markup.
    block header
      .header header
    block asideLeft
      .asideLeft asideLeft
    block asideRight
    block bottom
    block content
